@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    font-family: "Roboto Flex", sans-serif;
    background-color: #F8F9FE;
}

.box_course {
    text-align: left;
}

.box_course a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: rgb(163, 179, 254);
    background-color: rgb(237, 237, 237);
}

.box_course a.active {
    background-color: rgb(163, 179, 254);
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.box_course a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}