@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    font-family: "Roboto Flex", sans-serif;
    background-color: #F8F9FE;
}

.top-bar {
    position: sticky;
    top: 0;
}

.btn.active {
    background-color: #666;
    color: #AEA7E9;
}

.box_nav {
    text-align: left;
}

.box_nav a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
}

.box_nav a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.box_course {
    text-align: left;
}

.box_course a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    width: 150px;
    color: #B0A8EA;
    background-color: rgb(237, 237, 237);
}

.box_course a.active {
    background-color: #B0A8EA;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.box_course a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.custom-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-button {
    background-color: #507df0;
    color: white;
    border-radius: 20px;
}
.custom-button:hover {
    background-color: #4060d8;
}

.text-secondary {
    color: #6c757d !important;
}
.illustration {
    max-width: 100%;
    height: auto;
}         

.row-equal-height {
    display: flex;
    align-items: stretch; /* Đảm bảo các cột căn chỉnh chiều cao theo chiều dọc */
}

.table_ass {
    text-align: center;
    width: 100%; 
    table-layout: fixed;
}

.table_ass th {
    background-color: #B0A8EA;
    color: white;
    text-decoration: solid;
    height: 40px;
}

.table_ass td {
    height: 35px;
}

.table_ass tr:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

.table_ass tr:nth-child(odd) {
    background-color: white;
}

