@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    font-family: "Roboto Flex", sans-serif;
    background-color: #F8F9FE;
}

.top-bar {
    position: sticky;
    top: 0;
}

.box_nav {
    text-align: left;
}

.box_nav a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
}

.box_nav a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.custom-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-button {
    background-color: #507df0;
    color: white;
    border-radius: 20px;
}
.custom-button:hover {
    background-color: #4060d8;
}

.text-secondary {
    color: #6c757d !important;
}
.illustration {
    max-width: 100%;
    height: auto;
}         

 .row-equal-height {
    display: flex;
    align-items: stretch; /* Đảm bảo các cột căn chỉnh chiều cao theo chiều dọc */
}