.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.button {
    color: #828282;
}

.submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C0CFFA;
    color: white;
    border-radius: 10px;
}

.submit:hover {
    background-color: #A3B3FE;
    color: white;
    border-radius: 10px;
}

input[type="file"] {
    display: none;
}

.custom-img-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    color: #3343A1;
}