.pagination {
    align-items: center;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

.pagination a.active {
    background-color: rgb(163, 179, 254);
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.table_ass {
    text-align: center;
}

.table_ass th {
    background-color: rgb(163, 179, 254);
    color: white;
    text-decoration: solid;
    height: 40px;
}

.table_ass tr {
    height: 30px;
}

.table_ass tr:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

.table_ass tr:nth-child(odd) {
    background-color: white;
}