{% extends "NavLayout.html" %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block  extra_css%}
<link rel="stylesheet" href="{% static "css/style_profile.css" %}">
{% endblock extra_css %}

{% block content %}
<br>
<div class="container">
    <h4 style="color: #3343A1"><b>{{ user.first_name }} {{ user.last_name }}</b> - 
        {% if user.is_superuser %}
            Admin
        {% elif user.is_staff %}
            Teacher
        {% else %}
            Student
        {% endif %}
    </h4>
    <h5 style="color: #3343A1">User detail</h5>
    <div class="row">
        <div class="col-auto text-center">
            <img src="{{ user.avatar.url }}" alt="Illustration" class="illustration">
            <a href="" class="nav-link" style="color:#828282">
                Change avatar
            </a>
        </div>
        <div class="col-md-5">
            <div class="card p-4 custom-card">
                <p><b>Class:</b> {{ user.inClass }}</p>
                <p><b>ID:</b> {{ user.username }}</p>
                <p><b>Date of birth:</b> {{ user.birthday }}</p>
                <p><b>Gender:</b> {{ user.sex }} </p> 
                <p><b>Email address:</b> {{ user.email }}</p>
                <p><b>Country:</b> {{ user.country }}</p>
                <p><b>City/town:</b> {{ user.city }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}