{% extends "NavLayout.html" %} 

{% load static %}
{% load widget_tweaks %}

{% block title %}
Moodle_1.1 - Post Announcement
{% endblock title %}

{% block extra_attach %}
    <link rel="stylesheet" href="{% static "css/style_post.css" %}">
{% endblock extra_attach %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="main">
    <h2>Post announcement</h2>
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}  
        <div class="form-group">
            <label for="title">Title</label>
            {% render_field form.title type="text" required=True %}
        </div>
        <div>
            <label for="description">Description</label>
            {{ form.media }}
            {{ form.text }}
        </div>
        <div class="form-group ms-auto">
            <div class="d-grid justify-content-md-end">
                <button type="submit" class="btn btn-primary" style="--bs-btn-color: #111B88; --bs-btn-bg: #FAEBC0; --bs-btn-border-color: none;">
                    Finish
                </button>
              </div>
        </div>
    </form>
</div>
{% endblock content %}