{% extends "NavLayout.html" %} 

{% load static %}
{% load widget_tweaks %}

{% block title %}
Moodle_1.1 - Post Announcement
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/style_post.css" %}">
{% endblock extra_css %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="main">
    <h2>Post announcement</h2>
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}  
        {{ form.media }}  
        {{ form.as_p }}  
        <button type="submit">Finish</button>
    </form>
</div>
{% endblock content %}