{% extends "NavLayout.html" %}
{% load static %}

{% block title %}
Moodle_1.1 - View Announcement
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/style_viewPost.css" %}">
<script src="{% static "js/ckeditor5/config.js" %}"></script>
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css" />
{% endblock extra_css %}

{% block header %}{% endblock header %}

{% block content %}
<div class="main">
    <h2>View announcement</h2>
    <div class="notifications">
        <div class="notification">
            <div class="notification-header">
                <div class="notification-title">
                    <h4>{{ notify.title }}</h4>
                    <span>By {{ notify.author.first_name }} {{ notify.author.last_name }} - {{ notify.date_created }}</span>
                </div>
            </div>
            <div class="ck-content">
                <p>
                    {{ notify.text|safe }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}