{% extends "NavLayout.html" %}

{% load static %}

{% block title %}
Course
{% endblock title %}

{% block extra_attach %}
<link rel="stylesheet" href="{% static "css/style_assignment.css" %}">
{% endblock extra_attach %}

{% block content %}

<div class="container p-2">
    <h2 style="color:#3343A1"><b>{{ course }}</b></h2>
    <div class="box_course">
        <a href="{% url "courses:class_page" slug=course.slug %}" class="text-center rounded-3 me-2">Course</a>
        <a href="{% url "courses:participants" slug=course.slug %}" class="text-center rounded-3 me-2">Participants</a>
        <a href="{% url 'courses:view_all_grades' slug=course.slug %}" class="text-center rounded-3 me-2">Grade</a>
    </div>
    <br>
    <h4 class="fw-semibold" style="color:#3343A1">{{ assignment.title }} </h4>

    <table class="table_ass">
        <tr>
            <th class = "col-w">Release</th>
            <th class = "col-w">Due</th>
            <th class = "col-w">Time remaining</th>
            <th width = "250px">Submission</th>
        </tr>
        <tr>
            <td>{{ assignment.date_opened }}</td>
            <td>{{ assignment.date_closed }}</td>
            <td>{{ assignment.date_closed|timeuntil }}</td>
            <td id="file-name">{{ submission }}</td>
        </tr>
    </table>
    <br>

    <div class = "row">
        <iframe class="pdf" 
            src= "{{ assignment.file.url }}" height="700">
        </iframe>
    </div>
    <br>
    {% if user.is_superuser %}
    {% else %}
    {% endif %}

    <h4 style="color:#3343A1">File submission</h4>
    <div class="card p-4 custom-card">
        <form method="POST" enctype="multipart/form-data" class="d-flex flex-column">
            {% csrf_token %}
            <div id="fileUploadDiv" class="mt-3 ">
                <div class = "row align-items-center justify-content-center ">
                    <div class = "col-auto">
                        <h5 style ="color:#3343A1">Choose input file</h5>
                    </div>
                    <div class = "col">
                        <input name="submit_file" class="form-control" type="file" accept="application/pdf" id="fileUpload" required>
                    </div>
                </div>
            </div>
        
            <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
                <button type="remove" class="btn" name="remove_assignment" style="--bs-btn-color: #111B88; background-color: #FAEBC0" id="remove">Remove submission</button>
                <button type="submit" class="btn" name="add_assignment" style="--bs-btn-color: #111B88; background-color: #FAEBC0" id="submit">Add submission</button>
            </div>
        </form>

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const assignmentClosed = {{ assignment.is_closed|lower }};
        const hasSubmission = "{{ submission }}";

        const removeButton = document.getElementById('remove');
        const submitButton = document.getElementById('submit');

        const fileInput = document.getElementById('fileUpload');

        if (hasSubmission == "--") {
            removeButton.setAttribute('disabled', true);
        }

        if (assignmentClosed) {
            removeButton.setAttribute('disabled', true);
            submitButton.setAttribute('disabled', true);
        }

        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 0) {
                submitButton.removeAttribute('disabled');
            }
        });
    });
</script>
{% endblock content %}