{% extends "NavLayout.html" %}

{% load static %}

{% block title %}
{{file.inClass}}: {{ file }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-auto"><img src="{% static 'img/course/file.svg' %}" alt="pdf" height = "50", width = "50"></div>
    <div class="col-auto"><h1 style="color:#3343A1">{{ file.name }}</h1></div>
</div>

<br>
<div class = "p-4 bg-white border-black shadow rounded-5">
    <div class = "row">
        <iframe class="pdf" 
            src= "{{ file.file.url }}" height="700">
        </iframe>
    </div>
    <hr>

    <div>
        <h2 style="color:#3343A1">Comments</h2>

        <div class="row comment-row mb-2 align-self-center">
            <div class="col-1">
                <img src="{{ user.avatar.url }}" alt="avatar" width = "100%" class="img-fluid" style="border-radius: 50%">
            </div>
            <div class="col">
                <div class="input-group comment-input h-100">
                    <input type="text" class="form-control" placeholder="Insert comment" style="background-color: #EDEDED;">
                </div>
            </div>
        </div>
        <div class="d-grid d-md-flex justify-content-md-end">
            <button type="button" class="btn " {% comment %}onclick="location.href='{% url 'users:logout' %}';{% endcomment %} style="--bs-btn-color: #65558F; background-color: #FAEBC0">
                <img src="{% static 'img/course/send.svg' %}" alt="Comment" class="img-fluid" >
            </button>
        </div>
        <hr>
        {% for comment in comments %}
            <div class="row">
                <div class="col-1">
                    <img src="{{ comment.user.avatar.url }}" alt="avatar" width = "100%" class="img-fluid" style="border-radius: 50%">
                </div>
                <div class="col">
                    <div class="card comment-card">
                        <div class="card-body" style="background-color: #EDEDED;">
                            <h5 class="card-title mb-1">{{ comment.user.first_name }} {{ comment.user.last_name }}</h5>
                            <p class="card-text">{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
            </div>  
        {% endfor %}
    </div>
    {% endblock content %}

</div>