{% extends "NavLayout.html" %}

{% load static %}
{% load participants_tag %}

{% block title %}
Course
{% endblock title %}

{% block extra_attach %}
<link rel="stylesheet" href="{% static 'css/style_participants.css' %}">
{% endblock extra_attach %}

{% block content %}

<br>
<div class="container">
    <h2 style="color:#3343A1"><b>{{ course }}</b></h2>
    <div class="box_course">
        <a href="{% url 'courses:class_page' slug=course.slug %}">Course</a>
        <a href="#" class="active">Participants</a>
        {% if user.is_staff and not user.is_superuser %}
            <a href="{% url 'courses:post_announcement' slug=course.slug %}">Post</a>
        {% else %}
            <a href="#">Grade</a>
        {% endif %}
        
    </div> 
    <br>

    <h4 style="color:#3343A1">Enrolled users</h4>
    <br>
    <table border="table_ass mb-4">
        <tr align="center" style="color: white; background-color: rgb(163, 179, 254)">
            <th width="355">Name</th>
            <th width="355">Role</th>
            <th width="355">Class</th>
        </tr>
        {% for participant in participants %}
            {% if forloop.counter|divisibleby:2 %}
                <tr align="center" style="background-color: rgb(224, 224, 224)">
                    <td>{{ participant.first_name }} {{ participant.last_name }}</td>
                    {% if participant.is_superuser %}
                        <td>Admin</td>
                    {% elif participant.is_staff %}
                        <td>Teacher</td>
                    {% else %}
                        <td>Student</td>
                    {% endif %}
                    <td>{{ participant.inClass }}</td>
                </tr>
            {% else %}
                <tr align="center" style="background-color: white">
                    <td>{{ participant.first_name }} {{ participant.last_name }}</td>
                    {% if participant.is_superuser %}
                        <td>Admin</td>
                    {% elif participant.is_staff %}
                        <td>Teacher</td>
                    {% else %}
                        <td>Student</td>
                    {% endif %}
                    <td>{{ participant.inClass }}</td>
                </tr>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<br>

<div class="container-fluid d-flex justify-content-center">
    <div class="pagination">
        {% if participants.has_previous %}
            <a href="?page={{ participants.previous_page_number }}">< &nbsp Previous</a>
        {% elif not participants.has_previous %}
            <a href="#" style="color: #828282;">< &nbsp Previous</a>
        {% endif %}
        
        {% for i in participants.paginator.page_range %}
            {% if i == 1 %}
                {% if participants.number == i %}
                    <a class=" active" href="">{{ i }}</a>
                {% else %}
                    <a class="" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endif %}
            {% if i != 1 and i != participants.paginator.page_range|last %}
                {% if participants.number == i %}
                    <a class=" active" href="">{{ i }}</a>
                {% else %}
                    {% if participants.number|add:-4 == i %}
                        <a class="" href="">...</a>
                    {% endif %}
                    {% if participants.number|add:3 >= i and participants.number|add:-3 <= i %}
                        <a class="" href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% if participants.number|add:4 == i %}
                        <a class="" href="">...</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if i == participants.paginator.page_range|last %}
                {% if participants.number == i %}
                    <a class=" active" href="">{{ participants.paginator.page_range|last }}</a>
                {% else %}
                    <a class="" href="?page={{ participants.paginator.page_range|last }}">{{ participants.paginator.page_range|last }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if participants.has_next %}
            <a href="?page={{ participants.next_page_number }}">Next &nbsp ></a>
        {% elif not participants.has_next %}
            <a href="#" style="color: #828282;">Next &nbsp ></a>
        {% endif %}
    </div>  
</div>

{% endblock content %}