{% extends "NavLayout.html" %}
{% load static %}

{% block title %}
Moodle_1.1 - View Announcement
{% endblock title %}

{% block extra_attach %}
<link rel="stylesheet" href="{% static "css/style_notfications.css" %}">
<script src="https://kit.fontawesome.com/ef8ac6a7f2.js" crossorigin="anonymous"></script>
{% endblock extra_attach %}

{% block content %}
<h2 class="ms-3" style="color: #3343A1"><b>Notification</b></h2>
<div style="margin-right: 20px;">
    <div class="container border bg-white shadow rounded-4 p-4 ms-3 row">
        <div class="row">
            <div class="col-auto">
                <i class="fa-regular fa-envelope" style="color: #828282;"></i>
            </div>
            <div class="col text-truncate">
                <p class="truncate_style" style="margin: 2px;">{{ notify.ForClass.className }}: {{ notify.title }} </p>
                <p style="color: #828282; margin: 2px; font-size: 10px;">{{ notify.date_created|timesince }} ago</p>
            </div>
        </div>
        <hr style="margin-top: 5px;">
        <div class="card rounded-2" style="overflow-y: auto; overflow-x: hidden; height: 440px;">
            <div class="row" style="margin-top: 15px; margin-left: 5px;">
                <div class="col-auto">
                    <img class="avatar mt-2" src="{{ user.avatar.url }}" alt="Avatar">
                </div>
                <div class="col text-truncate">
                    <p class="fw-bold truncate_style" style="margin: 2px;">{{ notify.title }}</p>
                    <p style="color: #828282;">By {{ notify.author.first_name }} {{ notify.author.last_name }} - 
                        {{ notify.date_created|date:"l, d F Y, g:i A" }}
                    </p> 
                </div>
            </div>
            <hr style="margin-top: 2px;">
            <div class="ck-content" style="margin-left: 15px;">
                <p>
                    {{ notify.text|safe }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}