{% extends "NavLayout.html" %}

{% load static %}

{% block title %}
Course
{% endblock title %}

{% block extra_attach %}
<link rel="stylesheet" href="{% static "css/style_assignment.css" %}">
{% endblock extra_attach %}

{% block content %}
<div class="container p-2">
    <h2 style="color:#3343A1"><b>{{ course }}</b></h2>
    <div class="box_course">
        <a href="{% url "courses:class_page" slug=course.slug %}" class="text-center rounded-3 me-2">Course</a>
        <a href="{% url "courses:participants" slug=course.slug %}" class="text-center rounded-3 me-2">Participants</a>
        <a href="{% url 'courses:view_all_grades' slug=course.slug %}" class="active text-center rounded-3 me-2">Grade</a>
    </div>
    <br>
    <h4 style="color:#3343A1">Submissions: </h4>
    <br>

    <table class="table_ass mb-4">
        <tr>
            <th>Grade item</th>
            <th>Grade</th>
            <th>Comment</th>
            <th>Submission time</th>
        </tr>
        {% for submit in submissions %}
            <tr>
                <td>{{ submit.ForAssignment.title }}</td>
                {% if submit.grade is None %}
                    <td>---</td>
                    <td><a href="#">View comment</a></td>
                {% else %}
                    <td>{{ submit.grade}}</td>
                    <td><a href="{% url 'courses:view_comment' slug=course.slug assignmentname=submit.ForAssignment.id submission=submit.id %}">View comment</a></td>
                {% endif %}
                <td>{{ submit.date_upload }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="pagination">
        {% if submissions.has_previous %}
            <a href="?page={{ submissions.previous_page_number }}">< &nbsp Previous</a>
        {% elif not submissions.has_previous %}
            <a href="#" style="color: #828282;">< &nbsp Previous</a>
        {% endif %}
        
        {% if submissions.paginator.num_pages > 1 %}
            {% for i in submissions.paginator.page_range %}
                {% if i == 1 %}
                    {% if submissions.number == i %}
                        <a class=" active" href="">{{ i }}</a>
                    {% else %}
                        <a class="" href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endif %}
                {% if i != 1 and i != submissions.paginator.page_range|last %}
                    {% if submissions.number == i %}
                        <a class=" active" href="">{{ i }}</a>
                    {% else %}
                        {% if submissions.number|add:-4 == i %}
                            <a class="" href="">...</a>
                        {% endif %}
                        {% if submissions.number|add:3 >= i and submissions.number|add:-3 <= i %}
                            <a class="" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                        {% if submissions.number|add:4 == i %}
                            <a class="" href="">...</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if i == submissions.paginator.page_range|last %}
                    {% if submissions.number == i %}
                        <a class=" active" href="">{{ submissions.paginator.page_range|last }}</a>
                    {% else %}
                        <a class="" href="?page={{ submissions.paginator.page_range|last }}">{{ submissions.paginator.page_range|last }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if submissions.has_next %}
            <a href="?page={{ submissions.next_page_number }}">Next &nbsp ></a>
        {% elif not submissions.has_next %}
            <a href="#" style="color: #828282;">Next &nbsp ></a>
        {% endif %}
    </div>  
</div>
{% endblock content %}