{% extends "NavLayout.html" %}

{% load static %}

{% block title %}
Course
{% endblock title %}

{% block extra_attach %}
<link rel="stylesheet" href="{% static "css/style_assignment.css" %}">
{% endblock extra_attach %}

{% block content %}
<h2 style="color:#3343A1"><b>{{ course }}</b></h2>
<div class="box_course">
    <a href="#">Course</a>
    <a href="#">Participants</a>
    <a href="#" class="active">Grade</a>
</div>
<br>
<h4 style="color:#3343A1">Submissions: {{ assignment.title }} </h4>
<br>

<table>
    <tr align="center" style="color: white; background-color: #B9ADEE">
        <th class = "col-w">Release</th>
        <th class = "col-w">Due</th>
        <th class = "col-w">Time remaining</th>
        <th width = "250px">Submission</th>
    </tr>
    <tr align="center" style="background-color: white">
        <td>{{ assignment.date_opened }}</td>
        <td>{{ assignment.date_closed }}</td>
        <td>{{ assignment.date_opened|timesince:assignment.date_closed }}</td>
        <td>{{ submission }}</td>
    </tr>
</table>
<br>

<div class = "row">
    <iframe class="pdf" 
        src= "{{ assignment.file.url }}" height="700">
    </iframe>
</div>
<br>
<div class="d-grid gap-3 d-md-flex justify-content-md-end">
    <button type="button" class="btn" style="--bs-btn-color: #111B88; background-color: #FAEBC0">Edit submission</button>
    <button type="button" class="btn" style="--bs-btn-color: #111B88; background-color: #FAEBC0">Add submission</button>
</div>
{% endblock content %}