{% extends "NavLayout.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Course: {{ course }}
{% endblock title %}

{% block content %}
<br>
<div class="container-fluid mb-4">
    <h2 style="color:#3343A1"><b>{{ course }}</b></h2>
    <div class="box_course">
        <a href="#" class="active">Course</a>
        <a href="{% url 'courses:participants' slug=course.slug %}">Participants</a>
        <a href="{% url 'courses:post_announcement' slug=course.slug %}">Post</a>
    </div>
</div>

{% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %}
    </div>
{% endif %}

<div class="container-fluid gap-2">
    <h4 class="d-inline-block" style="color:#3343A1">General</h4>
    
    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGen">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>

<div class="container-fluid mb-4">
    <div class="collapse" id="collapseGen">
        <div class="card p-4 custom-card">
            <form method="POST" enctype="multipart/form-data" class="d-flex flex-column">
                {% csrf_token %}
                <h3 class="text-center">Add material</h3>

                <div class="row">
                    <div class="col-auto">
                        <label class="col-form-label fs-5" for="mat">Material name: </label>
                    </div>

                    <div class="col">
                        {% render_field form.name class="form-control" type="text" id="mat" placeholder="Enter name" required="True" %}
                    </div>
                </div>

                <p class="fs-5 mt-2">Choose input type:</p>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="General" id="fileUpload" checked>
                    <label class="form-check-label" for="fileUpload">
                        File
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="General" id="linkInput">
                    <label class="form-check-label" for="linkInput">
                        Link
                    </label>
                </div>

                <div id="fileUploadDiv" class="mt-3">
                    {% render_field form.file class="form-control" type="file" id="fileUpload" %}
                </div>

                <div id="linkInputDiv" class="mt-3" style="display: none;">
                    {% render_field form.link class="form-control" type="text" id="linkInput" placeholder="Enter link" %}
                </div>

                <div class="mt-3">
                    <button type="submit" name="submit_general" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <script>
            const fileUploadDiv = document.getElementById('fileUploadDiv');
            const linkInputDiv = document.getElementById('linkInputDiv');
    
            const fileUploadRadio = document.getElementById('fileUpload');
            const linkInputRadio = document.getElementById('linkInput');
    
            fileUploadRadio.addEventListener('change', () => {
                fileUploadDiv.style.display = 'block';
                linkInputDiv.style.display = 'none';
            });
    
            linkInputRadio.addEventListener('change', () => {
                fileUploadDiv.style.display = 'none';
                linkInputDiv.style.display = 'block';
            });
        </script>
    </div>
</div>

{% for file in files %}
    {% if file.group == "GENERAL" %}
        <div class="container-fluid">
            <div class="card p-4 custom-card">
                <div class="row align-items-center">
                    <div class="col-1">
                        <img src="{% static 'img/course/File.png' %}" alt="file" class="img-fluid" style="max-width: auto;">
                    </div>
                    <div class="col-11 d-flex align-items-center">
                        {% if file.type == "FILE" %}
                            <a href="{% url 'courses:view_material' slug=course.slug filename=file.id %}" class="nav-link">{{ file.name }}</a>
                        {% else %}
                            <a href="{{ file.link }}" class="nav-link">{{ file.name }}</a>
                        {% endif %}
                        <form method="POST" class="ms-auto">
                            {% csrf_token %}
                            <button name="delete_material" value="{{ file.id }}" class="btn btn-outline-secondary" type="submit" style="--bs-btn-border-color: none"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
        </div>
    {% endif %}
{% endfor %}

<div class="container-fluid gap-2">
    <h4 class="d-inline-block" style="color:#3343A1">Lecture</h4>
    
    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLec">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>

<div class="container-fluid mb-4">
    <div class="collapse" id="collapseLec">
        <div class="card p-4 custom-card">
            <form method="POST" enctype="multipart/form-data" class="d-flex flex-column">
                {% csrf_token %}
                <h3 class="text-center">Add Lecture</h3>

                <div class="row">
                    <div class="col-auto">
                        <label class="col-form-label fs-5" for="mat">Lecture name: </label>
                    </div>

                    <div class="col">
                        {% render_field form.name class="form-control" type="text" id="mat" placeholder="Enter name" required="True" %}
                    </div>
                </div>

                <p class="fs-5 mt-2">Choose input type:</p>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Lecture" id="fileUpload1" checked>
                    <label class="form-check-label" for="fileUpload1">
                        File
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Lecture" id="linkInput1">
                    <label class="form-check-label" for="linkInput1">
                        Link
                    </label>
                </div>

                <div id="fileUploadDiv1" class="mt-3">
                    {% render_field form.file class="form-control" type="file" id="fileUpload1"%}
                </div>

                <div id="linkInputDiv1" class="mt-3" style="display: none;">
                    {% render_field form.link class="form-control" type="text" id="linkInput1" placeholder="Enter link"%}
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
            <script>
            const fileUploadDiv1 = document.getElementById('fileUploadDiv1');
            const linkInputDiv1 = document.getElementById('linkInputDiv1');
    
            const fileUploadRadio1 = document.getElementById('fileUpload1');
            const linkInputRadio1 = document.getElementById('linkInput1');
    
            fileUploadRadio1.addEventListener('change', () => {
                fileUploadDiv1.style.display = 'block';
                linkInputDiv1.style.display = 'none';
            });
    
            linkInputRadio1.addEventListener('change', () => {
                fileUploadDiv1.style.display = 'none';
                linkInputDiv1.style.display = 'block';
            });
        </script> 
    </div>
</div>

{% for file in files %}
    {% if file.group == "LECTURE" %}
        <div class="container-fluid">
            <div class="card p-4 custom-card">
                <div class="row align-items-center">
                    <div class="col-1">
                        <img src="{% static 'img/course/File.png' %}" alt="file" class="img-fluid" style="max-width: auto;">
                    </div>
                    <div class="col-11 d-flex align-items-center">
                        {% if file.type == "FILE" %}
                            <a href="{% url 'courses:view_material' slug=course.slug filename=file.id %}" class="nav-link">{{ file.name }}</a>
                        {% else %}
                            <a href="{{ file.link }}" class="nav-link">{{ file.name }}</a>
                        {% endif %}
                        <form method="POST" class="ms-auto">
                            {% csrf_token %}
                            <button name="delete_material" value="{{ file.id }}" class="btn btn-outline-secondary" type="submit" style="--bs-btn-border-color: none"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
        </div>
    {% endif %}
{% endfor %}

<div class="container-fluid gap-2">
    <h4 class="d-inline-block" style="color:#3343A1">Assignment</h4>
    
    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAssign">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>

<div class="container-fluid mb-4">
    <div class="collapse" id="collapseAssign">
        <div class="card p-4 custom-card">
            <form method="POST" enctype="multipart/form-data" class="d-flex flex-column">
                {% csrf_token %}
                <h3 class="text-center">Add Assignment</h3>

                <div class="row">
                    <div class="col-3">
                        <label class="col-form-label fs-5" for="assign">Assignment name: </label>
                    </div>

                    <div class="col">
                        {% render_field aform.title class="form-control" type="text" id="assign" placeholder="Enter name" required="True" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label class="col-form-label fs-5" for="assignFile">Choose file: </label>
                    </div>
    
                    <div class="col">
                        {% render_field aform.file class="form-control" type="file" id="assignFile" required="True" %}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-3">
                        <label class="col-form-label fs-5" for="dateEnd">Assignment deadline: </label>
                    </div>

                    <div class="col">
                        {% render_field aform.date_closed type="datetime-local" id="dateEnd" class="form-control" required="True" %}
                    </div>
                </div>
                

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for assignment in assignments %}
    <div class="container-fluid">
        <div class="card p-4 custom-card">
            <div class="row align-items-center">
                <div class="col-1">
                    <img src="{% static 'img/course/File.png' %}" alt="file" class="img-fluid" style="max-width: auto;">
                </div>
                <div class="col-11 d-flex align-items-center">
                        <a href="{% url 'courses:view_assignment' slug=course.slug assignmentname=assignment.id %}" class="nav-link">{{ assignment.title }}</a>
                    <form method="POST" class="ms-auto">
                        {% csrf_token %}
                        <button name="delete_assignment" value="{{ assignment.id }}" class="btn btn-outline-secondary" type="submit" style="--bs-btn-border-color: none"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endfor %}

{% endblock content %}