{% extends "NavLayout.html" %}

{% load static %}

{% block title %}
Course
{% endblock title %}

{% block extra_attach %}
<link rel="stylesheet" href="{% static "css/style_assignment.css" %}">
<script src="{% static "js/ckeditor5/config.js" %}"></script>
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css" />
{% endblock extra_attach %}

{% block content %}
<br>
<div class="container">
    <h2 style="color:#3343A1"><b>{{ course }}</b></h2>
    <div class="box_course">
        <a href="{% url "courses:class_page" slug=course.slug %}" class="text-center rounded-3 me-2">Course</a>
        <a href="{% url "courses:participants" slug=course.slug %}" class="text-center rounded-3 me-2">Participants</a>
        <a href="{% url 'courses:view_all_grades' slug=course.slug %}" class="active text-center rounded-3 me-2">Grade</a>
    </div>
    <br>
    <h4 style="color:#3343A1">Submission: {{ assignment.title }} </h4>

    <table class="table_ass">
        <tr align="center">
            <th>Grade</th>
            <th>Submission time</th>
        </tr>
        <tr align="center">
            <td>{{ submit.grade }}</td>
            <td>{{ submit.date_upload }}</td>
        </tr>
    </table>
    <br>

    <div class = "row">
        <iframe class="pdf" 
            src= "{{ submit.file.url }}" height="700">
        </iframe>
    </div>

    <div class="ck-content">
        <p>
            {{ submit.grade_comment|safe }}
        </p>
    </div>
    <br>
</div>
{% endblock content %}