{% extends "NavLayout.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}{% endblock title %}

{% block extra_attach %}
<link rel="stylesheet" href="{% static "css/Grading.css" %}">
{% endblock extra_attach %}

{% block content %}
<div class="d-inline-flex align-items-center">
    <h2 class="me-2 rounded-2" style="background-color: #B9ADEE; color: white;"><i class="bi bi-file-earmark-text"></i></h2>
    <h3 class="fw-bold" style="color: #111B88;">Submissions: {{ submit }}</h3>
</div>

<div class="d-flex align-items-center fs-4">
    <p class="me-1">StudentID:</p>
    <p>{{ submit.author }}</p>
    <div class="mt-3 ms-auto d-flex align-items-center">
        <p class="me-1">Submissions time:</p>
        <p>{{ submit.date_upload }}</p>
    </div>
</div>

<div class = "row">
    <iframe class="pdf" 
        src= "{{ submit.file.url }}" height="700">
    </iframe>
</div>
<br>

<form method="POST">
    {% csrf_token %}  
    <div class="mb-3">
        <label for="review" class="form-label">Review:</label>
        {{ form.media }}
        {{ form.grade_comment }}
    </div>

    <div class="mb-3 d-inline-flex align-items-center">
        <label for="exampleFormControlInput1" class="me-2">Score:</label>
        {% render_field form.grade type="number" class="form-control" style="width: 70px;" step="0.01" id="exampleFormControlInput1" placeholder="Score" %}
    </div>

    <div class="d-flex flex-row-reverse">
        <button type="submit" style="--bs-btn-color: #111B88; background-color: #FAEBC0"><i class="bi bi-send"></i></button>
    </div> 
</form>
{% endblock content %}