{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/Nav.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ef8ac6a7f2.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
            Moodle 1.1
        {% endblock %}
    </title>
    <link rel="icon" type="image/icon" href="{% static 'img/icon.ico' %}">
    <style>
        .calendar {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5%;
        }

        .calendar .header {
            display: flex;
            align-items: center;
            justify-content: space-between; /* Distributes space between the buttons and the month */
            width: 100%;
            padding: 10px;
        }
        
        .calendar .header button {
            width: 40px;
            height: 40px;
            flex-shrink: 0; /* Prevents buttons from shrinking too much */
            border-radius: 50%;
        }
        
        .calendar .month {
            flex-grow: 1;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            color: #618CEE;
            margin: 0 10px; /* Optional: adds a small margin for spacing */
        }

        .calendar .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }

        .calendar .day {
            font-size: 1.2em;
            font-weight: 700;
            color: #618CEE;
            width: 14.28%;
            text-align: center;
        }

        .calendar .dates {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;
            align-items: center;
        }

        .calendar .date {
            color: #618CEE;
            width: 14.28%;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            transition: 0.3s;
        }

        .calendar .date:hover {
            background-color: #618CEE;
            color: #fff;
        }

        .calendar .date.today {
            background-color: #618CEE;
            color: #fff;
        }

        .calendar .date.inactive {
            color: #ccc;
        }

        .calendar .date.inactive:hover {
            background-color: transparent;
            color: #ccc;
        }

        {% comment %} Toolip {% endcomment %}
        .custom-tooltip {
        }

        .tooltip-inner {
            text-align: left;
        }

        .truncate_style{
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis;
        }
    </style>
    
    {% block extra_attach %}
    {% endblock extra_attach %}
</head>
<body>
    <div class="container-fluid d-flex top-bar" style="background-image:linear-gradient( 
        to right, #B0A8EA 0%, #DCBFFF 100%); z-index: 3;">
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <a class="navbar-brand" role="button" href="{% url 'home' %}">
                    <img src="{% static "img/home/logo.png" %}" alt="logo" class="img-fluid" style="max-width: 80%;">
                </a>
                <div class="navbar-nav box_nav gap-4">
                    <a href="{% url 'home' %}" class="nav-link fs-5 text-center rounded-4" style = "{% if request.resolver_match.url_name == 'home' %} 
                                                                            color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                                            {% elif request.resolver_match.url_name == 'profile' %}
                                                                            color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                                            {% elif request.resolver_match.url_name == 'all_announcements' %}
                                                                            color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                                            {% else %} color:#FFFFFF; {% endif %} width: 120px;">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>

                    <a href="{% url 'courses:class_list' %}" class="nav-link fs-5 text-center rounded-4" style = " {% if request.resolver_match.url_name == 'class_list' %} 
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'class_page' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'participants' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'view_announcement' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'post_announcement' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'view_material' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'view_grading' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'view_assignment' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'view_all_grades' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% elif request.resolver_match.url_name == 'view_comment' %}
                                                                color:#AEA7E9; font-weight: 700 !important; background-color: rgb(237, 237, 237);
                                                            {% else %} color:#FFFFFF; {% endif %} width: 120px;">
                        <i class="fa-solid fa-book-open"></i>
                        Courses
                    </a>
                </div>
            </div>
        </nav>

        <div class="ms-auto d-flex align-items-center" style="color: #FFFFFF;">
            <div class="dropdown">
                <button class="btn btn-outline-secondary fs-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                style="--bs-btn-border-color: none; --bs-btn-color: #fff; --bs-btn-hover-bg: #ddd;
                --bs-btn-active-bg: rgb(237, 237, 237); --bs-btn-active-color: #AEA7E9;">
                    <i class="fa-solid fa-bell"></i>
                </button>
                <ul class="dropdown-menu pt-4" style="max-width: 400px; --bs-dropdown-min-width: 400px; padding: 0; --bs-dropdown-border-color: #B5A2D3">
                    <div class="px-4">
                    {% for notify in notifies %}
                        <li>
                            <div class="dropdown-item card custom-card rounded-2 mb-3 border-0" style="background: rgba(229, 209, 252, 0.53)">
                                <div class="card-body" style="--bs-card-spacer-y: 0">
                                    <a href="{% url 'courses:view_announcement' slug=notify.ForClass.slug id=notify.id %}" class="link-dark link-underline link-underline-opacity-0"> 
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto fs-5" style="color: #56407B;">
                                                <i class="fa-regular fa-envelope"></i>
                                            </div>
        
                                            <div class="col d-inline-block text-truncate">
                                                <p></p>
                                                <p class="fw-light truncate_style" style="color: #56407B; --bs-dropdown-link-active-bg: none;">
                                                    {{ notify.title }}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </div>
                    <div style="background-color: #AA94CD;" class="px-4 pb-1">
                    <li><hr class="dropdown-divider"></li>
                    <div class="d-flex flex-row-reverse align-items-center">
                        <a href="{% url "users:all_announcements" %}" class="fw-bold link-underline link-underline-opacity-0" style="color: #FFFFFF;">View all notifications</a>
                    </div>
                </div>
                </ul>
                
            </div>
            <button type="button" class="btn btn-outline-secondary fs-5" data-bs-toggle="modal" data-bs-target="#LogoutModal" 
            style="--bs-btn-border-color: none; --bs-btn-hover-bg: #ddd; --bs-btn-active-bg: #ddd; --bs-btn-color: #fff">
                <i class="fa-solid fa-right-from-bracket"></i>
            </button>
        </div>
    </div>

    <div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-4">
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <img src="{% static "img/logOut.png" %}" alt="logOut">
                    </div>
                    <div class="col d-flex flex-column justify-content-center align-items-center mt-5">
                        <p class="fs-4 fw-bold" style="color: #111B88;">You are logging out!</p>
                        <p class="mb-5" style="color: #7E57C2;">Confirm to leave?</p>
                        <div>
                            <button type="button" class="btn btn-secondary fw-bold me-3" data-bs-dismiss="modal" 
                            style="width: 85px; --bs-btn-color: #111B88; --bs-btn-bg: #FAEBC0; --bs-btn-border-color: none;">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary fw-bold" onclick="location.href='{% url 'users:logout' %}';"
                            style="width: 85px; --bs-btn-color: #111B88; --bs-btn-bg: #FAEBC0; --bs-btn-border-color: none;">
                                Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

    <div class="container-fluid" style="min-height: 90vh">
        <div class="row">
            <div class="col col-xxl-9 col-xl-8 col-lg-7 col-md-7 col-sm-6 border-1 rounded-5 p-4">
                {% block content %}
                {% endblock content %}
            </div>

            <div class="col col-xxl-3 col-xl-4 col-lg-5 col-md-5 col-sm-6 bg-white">
                <div class=" mt-5 mb-2">
                    <a href="{% url 'users:profile' %}" class="d-flex flex-column align-items-center link-dark link-underline link-underline-opacity-0">
                        <img src="{{ user.avatar.url }}" alt="avatar" width="200" height="200" style="border-radius: 50%; object-fit: cover;"> 
                        <p class="mt-3 fs-5 fw-bold" style="color: #618CEE">{{ user.first_name }} {{ user.last_name }}</p>
                        <p class="fs-6" style="color: #828282">{% if user.is_superuser %}
                                Admin
                            {% elif user.is_staff %}
                                Teacher
                            {% else %}
                                Student
                            {% endif %}
                        </p>
                    </a>
                </div>
                <hr>

                <div class="d-flex calendar">
                    <div class="calendar header d-flex flex-row">
                        <button id="prev" type="button" class="btn btn-outline-light" style="background-color: #ECEEFF; color: #618CEE;">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <div class="calendar month" id="monthYear"></div>
                        <button id="next" type="button" class="btn btn-outline-light" style="background-color: #ECEEFF; color: #618CEE;">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="calendar days">
                        <div class="day">Mon</div>
                        <div class="day">Tue</div>
                        <div class="day">Wed</div>
                        <div class="day">Thu</div>
                        <div class="day">Fri</div>
                        <div class="day">Sat</div>
                        <div class="day">Sun</div>
                    </div>
                    <div class="calendar dates" id="dates"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-3 px-5" style="background-image:linear-gradient( 
        to right, #B1A9EB 0%, #DCBFFF 100%); color: #FFFFFF">
        <div class="row" >
            <div class="col-3 d-flex align-items-center">
                <img src="{% static "img/home/letterM1.png" %}" alt="LetterM" class="d-inline-block align-text-center me-4">
                © 2024 Moodle_1.1,Inc.
            </div>
            <div class="col-3 d-flex flex-column">
                <p class="fw-bold">About us</p>
                <p><a href="https://hcmus.edu.vn/" class="link-light link-offset-2 link-underline link-underline-opacity-0">
                    HCMUS website
                </a></p>
                <p><a href="https://www.fit.hcmus.edu.vn/" class="link-light link-offset-2 link-underline link-underline-opacity-0">
                    FIT-HCMUS website
                </a></p>
                <p><a href="https://www.ctda.hcmus.edu.vn/" class="link-light link-offset-2 link-underline link-underline-opacity-0">
                    CTDA website
                </a></p>
            </div>

            <div class="col-3 d-flex flex-column">
                <p class="fw-bold">Contact us</p>
                <p>Technical team: <a href="mailto: moodlenmlt@gmail.com"  class="link-light">  moodlenmlt@gmail.com </a></p>
                <p>Email: <a href="mailto: info@fit.hcmus.edu.vn" class="link-light">  info@fit.hcmus.edu.vn </a></p>
                <p>Phone: (028) 3835 4266</p>
            </div>

            <div class="col-3 d-flex flex-column">
                <p class="fw-bold">Address</p>
                <p>227 Nguyen Van Cu, Ward 4,</p>
                <p>District 5, Ho Chi Minh City,</p>
                <p>VietNam</p>
            </div>
        </div>
    </div>

    <script>
        const events = {{events|safe}};
        const monthYear = document.getElementById('monthYear');
        const dates = document.getElementById('dates');
        const prev = document.getElementById('prev');
        const next = document.getElementById('next');

        let currentDate = new Date();

        let content = 'abc';

        const updateCalendar = () => {
            const currentYear = currentDate.getFullYear();
            const currentMonth = currentDate.getMonth();
        
            const firstDay = new Date(currentYear, currentMonth, 0);
            const lastDay = new Date(currentYear, currentMonth + 1, 0);
            const totalDays = lastDay.getDate();
            const firstDayIndex = firstDay.getDay();
        
            const monthYearStr = currentDate.toLocaleString('default', { month: 'long' }) + ' ' + currentYear;
            monthYear.innerHTML = monthYearStr;
        
            const Deadline_list = {};
            for (let i = 0; i < events.length; i++){
                var year = events[i + 1];
                var month = events[i + 2];
                var day = events[i + 3];
                Deadline = new Date(year, month - 1, day);

                if (!(Deadline in Deadline_list)){
                    var array = [];
                    Deadline_list[Deadline] = array;
                }
                Deadline_list[Deadline].push(events[i]);
                i += 3;
            }
            const Deadline_date_list = Object.keys(Deadline_list);

            let days = '';
            for (let x = firstDayIndex; x > 0; x--) {
                const prevDate = new Date(currentYear, currentMonth, 1 - x);

                let content = '<b>No event today</b>';
                
                let assign_list = []
                for (let i = 0; i < Deadline_date_list.length; ++i){
                    var timeStamp = Date.parse(Deadline_date_list[i]);

                    if (prevDate.getTime() == timeStamp){
                        for (let j = 0; j < Deadline_list[Deadline_date_list[i]].length; ++j){
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j]);
                        }
                    }
                }

                if (assign_list.length != 0){
                    content = ''
                    for (let i = 0; i < assign_list.length; ++i){
                        content += assign_list[i] ;
                        if (i != assign_list.length - 1){
                            content += '<hr>'
                        }
                    }
                }

                days += `<button type="button" class="date inactive btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip" data-bs-html="true" data-bs-title="${content}" style="white-space: nowrap;">${prevDate.getDate()}</button>`;
            }
        
            for (let i = 1; i <= totalDays; i++) {
                const curDate = new Date(currentYear, currentMonth, i);
                
                let content = '<b>No event today</b>';
                let background = ''

                let assign_list = []
                for (let i = 0; i < Deadline_date_list.length; ++i){
                    var timeStamp = Date.parse(Deadline_date_list[i]);

                    if (curDate.getTime() == timeStamp){
                        for (let j = 0; j < Deadline_list[Deadline_date_list[i]].length; ++j){
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j]);
                        }
                    }
                }
                
                if (assign_list.length != 0){
                    background = 'style="--bs-btn-bg: #ECEEFF"'
                    content = ''
                    for (let i = 0; i < assign_list.length; ++i){
                        content += assign_list[i] ;
                        if (i != assign_list.length - 1){
                            content += '<hr>'
                        }
                    }
                }

                if (i === new Date().getDate() && currentMonth === new Date().getMonth() && currentYear === new Date().getFullYear()) {
                    days += `<button type="button" class="date today btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip" data-bs-html="true" data-bs-title="${content}">${i}</button>`;
                } else {
                    days += `<button type="button" class="date btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip" data-bs-html="true" data-bs-title="${content}" ${background}>${i}</button>`;
                }
            }
        
            const remainingDays = 7 - (firstDayIndex + totalDays) % 7;
            for (let j = 1; j <= remainingDays && remainingDays < 7; j++) {
                const nextDate = new Date(currentYear, currentMonth + 1, j);

                let content = '<b>No event today</b>';

                let assign_list = []
                for (let i = 0; i < Deadline_date_list.length; ++i){
                    var timeStamp = Date.parse(Deadline_date_list[i]);

                    if (nextDate.getTime() == timeStamp){
                        for (let j = 0; j < Deadline_list[Deadline_date_list[i]].length; ++j){
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j]);
                        }
                    }
                }

                if (assign_list.length != 0){
                    content = ''
                    for (let i = 0; i < assign_list.length; ++i){
                        content += assign_list[i] ;
                        if (i != assign_list.length - 1){
                            content += '<hr>'
                        }
                    }
                }

                days += `<button type="button" class="date inactive btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip" data-bs-html="true" data-bs-title="${content}">${nextDate.getDate()}</button>`;
            }
            days += '<br>'
            dates.innerHTML = days;

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        }
        

        prev.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() - 1);
            updateCalendar();
        });

        next.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() + 1);
            updateCalendar();
        });

        updateCalendar();
        
    </script>

    <script>
        
    </script>
</body>
</html>