{% extends "NavLayout.html" %}

{% load static %}

{% block title %}
Learning Management System - fit@hcmus - 1.1
{% endblock title %}

{% block content %}
<div class="card p-4 custom-card">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="text-primary">Problem of the day</h2>
            <p class="text-secondary">Solve the N-Queen problem using local search with hill climbing and random neighbor selection.</p>
            <button class="btn custom-button">Solve problem</button>
        </div>
        <div class="col-auto text-center">
            <img src="{% static 'img/home/potd.png' %}" alt="Illustration" class="illustration">
        </div>
    </div>
</div>

<br>

<div class="container">
    <h4>Active courses</h4>
    <div class="row row-cols-3 g-2 course-box">
        {% for course in courses %}
            {% if not course.course.is_course_end %}
                <div class="col-md-4">
                    <a href="{% url 'courses:class_page' slug=course.course.slug %}" class="bg-white rounded-4 p-4 shadow border link-dark link-underline link-underline-opacity-0 d-block h-100" >
                        <h3>{{ course.course }}</h3>
                        {% for teacher in course.teacher %}
                            <p>Teacher: {{ teacher.first_name }} {{ teacher.last_name }}</p>
                        {% endfor %}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}